body{
    font-family: Georgia;
    background-color: white;
    margin-top: 75px;
}

.center{
    text-align: justify;
}

p{
    font-size:100%;
    max-width: 800px;
    margin: 0 auto;
}

.bold{
    font-weight: bold;
}

h1{
    font-size: 150%;
    text-decoration: underline;
}

.img-medium{
    height: 200px;
    text-align: center;
}
