body{
    font-family: Georgia;
    background-color: white;
    margin-top: 75px;
}

.center{
    text-align: justify;
}

.text-para{
    font-size:100%;
}

.bold{
    font-weight: bold;
}

.text-head{
    font-size: 150%;
}

.img-medium{
    height: 200px;
}
