body {
    font-family: Courier;
    background-color: lightgrey;
background-image: url(/ui/vvk.png);

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-head {
    font-size: 150%;
 
}
 
.text-para {
     font-size: 100%;
    
 }

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

